@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* styles/globals.css */
body {
  font-family: 'Nunito', sans-serif;
}
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

html, body {
    font-family: 'Nunito', sans-serif; /* Apply Nunito font */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

* {
    box-sizing: inherit; /* Inherit box-sizing for all elements */
}
